<%= form_for @recipe do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br><br>

    <h2>Ingredients</h2>
    <%= f.fields_for :ingredients do |i| %>
        <%= i.label :name %>
        <%= i.text_field :name %><br>

        <%= i.label :quantity %>
        <%= i.text_field :quantity %>
    <% end %>

    <%= f.submit %>
<% end %>
